<p id="notice"><%= notice %></p>

<p>
  <b>Nombres:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @persona.apellido %>
</p>

<p>
  <b>Direccion y Nº:</b>
  <%= @persona.direccion %>
</p>

<p>
  <b>Edad:</b>
  <%= @persona.edad %>
</p>
<p>
  <b>Fecha de Nac:</b>
  <%= @persona.fecha_nac %>
</p>

>>>>>>> ccd9cf03874b12be163088136d797e4a1e32c126
<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
